<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">{{@title}}</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/game"><i class="material-icons left">videogame_asset</i>Go to the game!</a></li>      
    </ul>
  </div>
</nav>