.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.grid {
  border: 5px solid black;
  display: table-cell;
}

.row {
  display: table-row;
}

.cell {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: table-cell;
  text-align: center;
  font-size: 3.5em;
  line-height: 80px;
}

.end-game {
  display: none;
}

.winner {
  background: blue;
  color: red;
}